.input:focus {
  outline: none;
}

.google-icon {
  height: 20px;
  width: 20px;
}

.post-icon {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .sign-in-breakpoint {
    width: 90%;
  }
  .justify-breakpoint {
    justify-content: space-between;
  }
}
